/* TODO: Ajustar  'fadeOut' */

@keyframes fadeIn {
    from {
        filter: blur(10px) brightness(var(--brightness));
    }

    to {
        filter: blur(0px) brightness(1);
    }
}

@keyframes fadeOut {
    from {
        filter: blur(10px);
    }

    to {
        filter: blur(0px);
    }
}

@keyframes fadeOut2 {
    from {
        filter: blur(10px);
    }

    to {
        filter: blur(0px);
    }
}
