/* TODO: Adicionar animação no input ao entrar no edit mode */

@import url('../../../styles/animations.css');

/* SECTION AREA */
.inProgessTasks {
    width: 90%;
    max-width: var(--maxWidth);
    max-height: 300px;

    padding-bottom: .6rem;
    border-radius: var(--borderRadius);

    text-align: center;

    background-color: var(--claudeCharcoal);

    overflow-y: auto;
}

/* HEADER AREA */
.inProgessTasks header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2.2rem;
    padding: 1.5rem 1rem;

    background-color: #27272a83;
    backdrop-filter: blur(5px) saturate(160%);

    position: sticky;
    top: 0;
}

/* TASK LIST AREA */
.inProgessTasks ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
}

.inProgessTasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    width: 60%;

    padding: .3rem .5rem;
    border-radius: var(--borderRadius);

    font-size: 1rem;

    background-color: var(--borderColor);
}

.inProgessTasks .task {
    flex: 1;

    overflow-x: auto;
}

input {
    padding: .2rem 0;
    border-radius: var(--borderRadius);

    text-align: center;
    font-size: inherit;

    color: var(--textPrimaryColor);
    background-color: var(--claudeObsidian);

    transition: all .3s ease;

    &:is(:hover, :focus) {
        filter: brightness(var(--brightness));
    }
}

.task::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* BUTTONS AREA */
.editButton {
    width: 3rem;
    height: 2rem;
    border-radius: var(--borderRadius);

    font-size: 1rem;
    font-weight: bold;

    color: var(--textPrimaryColor);
    background-color: var(--mainColor);

    transition: all .3s ease-in-out;
    animation: fadeOut .3s ease-in-out;

    &:is(:hover, :focus-visible) {
        filter: brightness(var(--brightness));
    }

    &:focus-visible {
        transition: none;
        outline: 3px solid var(--borderColor);
        outline-offset: 4px;
    }
}

.editButtonActive {
    width: 2rem;
    border-radius: 50%;

    animation: fadeIn .3s ease-in-out;
}

.deleteAllButton {
    padding: .5rem 1rem;
    border-radius: var(--borderRadius);

    font-size: 1rem;
    font-weight: bold;

    color: var(--dangerColor);
    background-color: var(--claudeObsidian);

    transition: all .3s ease-in-out;
    animation: fadeIn .4s ease-in-out;

    &:is(:hover, :focus-visible) {
        filter: brightness(var(--brightness));
    }

    &:focus-visible {
        transition: none;
        outline: 3px solid var(--borderColor);
        outline-offset: 4px;
    }
}

.deleteButton {
    animation: fadeIn .3s ease-in-out;

    &:focus-visible {
        outline: 3px solid var(--claudeObsidian);
        outline-offset: 2px;
    }
}

.checkButton {
    width: 1.8rem;
    aspect-ratio: 1/1;

    border: 1px solid var(--textSecundaryColor);
    border-radius: var(--borderRadius);

    background-color: var(--claudeObsidian);

    &:is(:hover, :focus-visible) {
        filter: brightness(var(--brightness));
    }
}

.buttonHidden {
    opacity: 0;
    pointer-events: none;

    transition: all .3s ease-in-out;
    animation: fadeOut2 .3s ease-in-out;
}

/* ICONS AREA */
.trashIcon {
    color: var(--dangerColor);
}