/* Section area */
.inProgessTasks {
    width: 90%;
    max-width: var(--maxWidth);
    max-height: 300px;

    padding-bottom: .6rem;
    border-radius: var(--borderRadius);

    text-align: center;

    background-color: var(--claudeCharcoal);

    overflow-y: auto;
}

/* Header area */
.inProgessTasks header {
    height: 2.2rem;

    background-color: #27272a83;
    backdrop-filter: blur(5px) saturate(160%);

    position: sticky;
    top: 0;
}

/* List area */
.inProgessTasks ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
}

.inProgessTasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    width: 60%;

    padding: .3rem .5rem;
    border-radius: var(--borderRadius);

    background-color: var(--borderColor);
}

.inProgessTasks .task {
    flex: 1;

    overflow-x: auto;
}

.task::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Buttons area */
.deleteButton {
    background-color: inherit;
}

.checkedButton {
    width: 1.8rem;
    aspect-ratio: 1/1;

    border: 1px solid var(--textSecundaryColor);
    border-radius: var(--borderRadius);

    background-color: var(--claudeObsidian);
}

/* Icons area */
.trashIcon {
    color: var(--dangerColor);
}
