@import url('../../../styles/animations.css');

/* SECTION AREA */
.inProgessTasks {
    width: 90%;
    max-width: var(--maxWidth);
    max-height: 300px;

    padding-bottom: .6rem;
    border-radius: var(--borderRadius);

    text-align: center;

    background-color: var(--claudeCharcoal);

    overflow-y: auto;
}

/* HEADER AREA */
.inProgessTasks header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    padding: 0 .5rem;

    background-color: #27272a83;
    backdrop-filter: blur(5px) saturate(160%);

    position: sticky;
    top: 0;
}

.inProgessTasks nav {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

/* TASK LIST AREA */
.inProgessTasks ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
}

/* BUTTONS AREA */
.editButton {
    width: 3rem;
    height: 2rem;
    border-radius: var(--borderRadius);

    font-size: 1rem;
    font-weight: bold;

    color: var(--textPrimaryColor);
    background-color: var(--mainColor);

    transition: filter .3s ease-in-out;
    animation: fadeOut .3s ease-in-out;

    &:is(:hover, :focus-visible) {
        filter: brightness(var(--brightness));
    }

    &:focus-visible {
        outline: var(--outline) var(--borderColor);
        outline-offset: var(--outlineOffSet);
    }
}

.editButtonActive {
    width: 2rem;
    border-radius: 50%;

    animation: fadeIn .3s ease-in-out;
}

.deleteAllButton {
    padding: .5rem 1rem;
    border-radius: var(--borderRadius);

    font-size: 1rem;
    font-weight: bold;

    color: var(--dangerColor);
    background-color: var(--claudeObsidian);

    transition: filter .5s ease-in-out;
    animation: fadeIn .4s ease-in-out;

    &:is(:hover, :focus-visible) {
        filter: brightness(1.2);
    }

    &:focus-visible {
        outline: var(--outline) var(--borderColor);
        outline-offset: var(--outlineOffSet);
    }
}

.buttonHidden {
    opacity: 0;
    pointer-events: none;

    transition: all .3s ease-in-out;
    animation: fadeOut2 .3s ease-in-out;
}