@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white-default: #ffffff;
    --black-default: #000000;

    --primary-color: #0d6a86;
    --primary-dark-color: #05475c;
    --secundary-color: #8ccfe4;
    --tetiary-color: #115367;

    --result-background-color: #00FEC1;
    --result-font-color: #01190D;

    --button-reset-backgroun-color: #be1e1e;
    --button-reset-backgroun-color-dark: #931a1a;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    appearance: none;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    list-style-position: inside;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 100dvh;

    font-size: 1.2rem;
    line-height: 1.5rem;

    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: clamp(320px, 70%, 740px);
    margin: 3rem 0;
    padding: 2rem 1.5rem;
    border-radius: 10px;

    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.599));

    transition: all .3s ease;
}

main:hover {
    filter: none;
}

header {
    text-align: center;
}

header p {
    text-align: justify;
    margin-top: 1rem;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
    gap: 1rem;

    width: 100%;
    margin-top: 1rem;
}

.imc-list {
    flex: 0 0 210px
}

.imc-list-result {
    flex: 0 0 210px
}


form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

form p {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;

    width: 100%;
    margin-top: 1rem;
}

form input {
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid var(--tetiary-color);
    border-radius: 5px;

    font-size: 1rem;

    transition: background-color .3s ease;
}

form input:is(:hover, :focus) {
    background-color: var(--secundary-color);
}

form input:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

form button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    
    font-size: 1rem;
    font-weight: bold;
    
    background-color: var(--primary-color);
    color: var(--white-default);
    transition: filter .3s ease, transform .3s ease;
}

form button:is(:hover, :focus-visible) {
    cursor: pointer;
    filter: brightness(1.2) saturate(160%);
}

form button:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

form button:active {
    background-color: var(--primary-dark-color);
    transform: scale(.98);
    transition: .1s ease;
}

form button[type="reset"] {
    background-color: var(--button-reset-backgroun-color);
    transition: filter .3s ease;
}

form button[type="reset"]:focus-visible {
    outline: 2px solid var(--button-reset-backgroun-color-dark);
}

form button[type="reset"]:active {
    background-color: var(--button-reset-backgroun-color-dark);
    filter: brightness(1);
}

.res {
    width: 100%;
}

.res span {
    display: block;
    padding: 8px;
    border-radius: 5px;

    color: var(--result-font-color);
    background-color: var(--result-background-color);
}

@media screen and (max-width: 692px) {
    form {
        order: -1;
    }
}